.footer {
    background-color: #233A6C;
    color: white;
    line-height: 21px;
}

.top {
    height: 268px;
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.your {
    color: #FCA311;
}

.biz {
    color: red;
}

.left {
    font-size: 1.1em;
    font-weight: 400;
}

.middle1 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.middle2 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.right {
    font-size: 14;
    line-height: 21px;
    font-weight: 400;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #14213D;
    height: 56px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 21px;
}

.footer-logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    width: 109px;
    height: 28px;
}

.link1 {
    font-size: 18px !important;
    font-weight: 700;
    line-height: 27px;
}

.footer-content {
    margin-top: -10px;
}

.fa {
    font-size: 2em;
    margin-right: .5em;
    margin-bottom: .5em;
}

.getapp {
    display: flex;
}

.playstore {
    display: inline-block;
    margin-left: .75em;
    margin-right: .75em;
}

.ios {
    display: inline-block;
}