@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.popup{
	height: 100vh;
	width: 100vw;
	background-color:rgba(0, 0, 0, 0.65);
	padding-top: 7px;
	/*z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;*/
}
#popup:target{
	opacity: 1;
	visibility: visible;	
}

.popup-content{
	max-width: 622px;
	background: #FFFFFF;
	margin: 0 auto;
	box-shadow: 2.86534px -2.86534px 8.59603px 4.29802px rgba(0, 0, 0, 0.25), -2.86534px 2.86534px 8.59603px 4.29802px rgba(0, 0, 0, 0.25);
}

.header{
	width: 100%;
	height: 71px;
	padding-top: 13px;
	padding-left: 34px;
	padding-bottom: 13px;
	padding-right: 34px;
	background: #E7E8EB;
	mix-blend-mode: multiply;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.header-heading{
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 45px;

	color: #263238;
}
.popup-close{
	text-decoration: none;
	text-anchor: none;
	color: black;
	font-size: 1.75rem;
	position: relative;
    top: -10px;
}
.content{
	width: 100%;
	height: 322px;
	background: #FFFFFF;
	display: flex;
	justify-content: space-around;
}
#left{
	padding: 40px 10px;
	width: 200px;
}
.main-line{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 31px;
}
.yellowtag{
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;

	color: #FCA311;
}

.signup{
	font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;

color: #595959;	
}
.sign{
	font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;

color: #213A8F;
}
#right{
	padding: 40px 30px;
	border-left:0.5px solid #C4C4C4;;
}
.rows{
	margin-bottom: 26px;
}
.title{
	font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
color: #595959;
margin-bottom: 15px;
}
.input{
	width: 287px;
height: 32px;
background: #FFFFFF;
border: 0.799644px solid #BBBBBB;
box-sizing: border-box;
}
.forgotpassword{
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 16px;

color: #595959;
float: right;
margin-top: 7px;
margin-bottom: 28px;
}
.loginbutton{

}
.bt{
	width: 287px;
	height: 32px;
	background: #DE3F39;
	border-radius: 3px;
	border: none;
	font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 13.2869px;
line-height: 20px;

color: #FFFFFF;
}
