@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.popup{
	width: 100vw;
	background-color:rgba(0, 0, 0, 0.65);
	padding-top: 7px;
	/*z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;*/
}
#popup:target{
	opacity: 1;
	visibility: visible;	
}
.popup-content{
	max-width: 860px;
	background-color: #ffffff;
	margin: 0 auto;
	padding-bottom: 32px;
}
.popup-header{
	width: 100%;
	height: 4rem;
	background: #E7E8EB;
	mix-blend-mode: multiply;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-left: 31px;
	padding-right: 33px;
	margin-bottom: 18px;
}
.logo{
	width: 65%;
	height: 100%;
}
.signup{
	width: 35%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.signup-text{
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 1.875rem;
	line-height: 45px;
	color: #263238;
}
.popup-close{
	text-decoration: none;
	text-anchor: none;
	color: black;
	font-size: 1.75rem;
	position: relative;
    top: -8px;

}

.popup-nav{
	display: flex;
	justify-content: space-around;
	margin-bottom: 42px;
}
#customer{
	width: 212px;
	height: 196px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	display: flex;
	justify-content: space-around;
/*	*/
}
#publisher{
	width: 212px;
	height: 196px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	display: flex;
	justify-content: space-around;
/*	*/
}
#advertiser{
	width: 212px;
	height: 196px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	display: flex;
	justify-content: space-around;
/*	*/
}
#influencer{
	width: 212px;
	height: 196px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	display: flex;
	justify-content: space-around;
	mix-blend-mode: normal;
	box-shadow: 0px 1px 9px 2px #D00000;
/*	*/
}


#sub-nav{
	 display: flex;
	  flex-direction: column;
	  justify-content: space-around;
	  align-items: center;
	  text-decoration: none;
}
.nav-text{
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 19px;
	color: #140D4F !important;
}

.popup-form1{
	position: relative;
	transform: scale(1);
	transition: all .3s ease-in-out;
}
.popup-form2{
	display: none;
	opacity: 0;
	visibility: hidden;
	transform: scale(.25);
	transition: all .3s ease-in-out;
}
.popup-form3{
	display: none;
	opacity: 0;
	visibility: hidden;
	transform: scale(.25);
	transition: all .3s ease-in-out;
}
.popup-form4{
	display: none;
	opacity: 0;
	visibility: hidden;
	transform: scale(.25);
	transition: all .3s ease-in-out;
}
.left{
	max-width: 300px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 16.5px;

	color: #595959;
	margin-top: 19px;

}
.main-line{
	font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
margin-bottom: 31px;
}
.bold{
	font-weight: 700;
}
.point{
	display: flex;
	justify-content: space-between;
}
.check{
	margin-right: 14px;
}

.influencer{
	display: flex;
	justify-content: space-around;
	opacity: 1;
	visibility: visible;
}

.customer{
	display: flex;
	justify-content: space-around;
	opacity: 1;
	visibility: visible;
    transition: all .3s ease-in-out;
}

.publisher{
	display: flex;
	justify-content: space-around;
	opacity: 1;
	visibility: visible;
    transition: all .3s ease-in-out;
}

.advertiser{
	display: flex;
	justify-content: space-around;
	opacity: 1;
	visibility: visible;
    transition: all .3s ease-in-out;
}

.svg{
	position: relative;
    left: 3px;
    top: -17px;
}
.right{
	max-width: 494px;
	max-height: 503px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 35px;
	padding-right: 35px;

}
.rows{
	margin-bottom: 11.69px;	
}
.rows2{
	margin-top: 37px;
}
#row1{
	display: flex;
	justify-content: space-between;
}
#row2{
	margin-bottom: 35px;
}
.first{
	display: inline-block;
}
.second{
	display: inline-block;
}
.title{
	font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
/* identical to box height */


color: #595959;
margin-bottom: 5px;
}
.input{
	width: 193px;
	height: 32px;
	background: #FFFFFF;
	border: 0.799644px solid #BBBBBB;
	box-sizing: border-box;
}
.input2{
	width: 422.8px;
	height: 31.74px;
	background: #FFFFFF;
	border: 0.799644px solid #BBBBBB;
	box-sizing: border-box;
}
.connect{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 16px;
	/* identical to box height */


	color: #595959;
	margin-bottom: 19px;
}
.button1{
	display: flex;
	justify-content: space-between;
}
.yellowtag{
	font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;

color: #FCA311;
}

.createbutton{
	margin-top: 27px;
	display: inline-block;
	margin-left: 46.5%;
}
.bt{
	width: 392px;
	height: 37.65px;
	background: #DE3F39;
	border-radius: 3px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 13.2869px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	border: none;
}
.login{
	margin-top: 10px;
width: 392px;
text-align: center;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 16px;

color: #595959;

}
.log{
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;

color: #213A8F;
}