@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family:sans-serif,"Poppins";
}
.header{
	width: 100%;
	height: 4.5rem;
	background: #E7E8EB;
	mix-blend-mode: multiply;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-left: 31px;
	padding-right: 33px;
	margin-bottom: 18px;
}
.searchbox{
    position:absolute;
    left:435px;
    width:350px;
    height:15px;
    top:25px;
     }
     input{
        
        height:28px;
        width:90%;
        padding:0px 9px;
    }
    .text{
        margin-left:480px;
        margin-top: 20px;
        font-size:smaller;
    }
    .navigation-bar{
        width:100%;
        height:61px;
        margin-top: 72px;
        background-color:#233A6C;
        position:absolute;
        font-style: normal;
        font-weight: 200;
        left:0px;
        top:0px;
        right:0px;
        text-align:center;
    }
    
    
    .navbar li{
        color:white;
        display:inline-block;
    }
    .navbar li a{
        color:white;
        text-decoration: none;
        padding: 34px 23px;
        display:inline;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: normal;
        }
    
    .navbar li a:hover{
        text-decoration: black;
    }

    
    